@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  font-size: 12px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  width: 100%;
  height: 35px;
  background: #f5f5f5;
  border-bottom: 1px solid #080808; }

.h0 {
  height: 36px;
  display: flex;
  align-items: center; }

.h0 span:nth-child(1) {
  display: block;
  width: 27px;
  height: 21px;
  line-height: 36px;
  position: relative;
  overflow: hidden; }

.h0 span:nth-child(1) img {
  position: absolute;
  left: 0;
  top: 0; }

.h0 span:nth-child(2) {
  display: block;
  padding: 0px 4px;
  background: #f5f5f5;
  height: 36px;
  color: #fff;
  line-height: 36px;
  box-sizing: border-box;
  border-bottom: 1px solid #000000; }
  .h0 span:nth-child(2) a {
    padding: 0px 4px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    background: red; }

.hbox {
  width: 1210px;
  line-height: 36px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between; }

.hbox a:hover {
  color: red;
  background: #fff; }

.hbox a {
  padding: 0 2px 0 2px;
  font-size: 12px;
  color: #6c6c6c; }

.h1 {
  margin-left: -200px; }

.hr {
  width: 640px;
  height: 36px;
  position: relative; }

.hr a {
  display: block;
  height: 36px;
  padding: 0 10px;
  float: left; }

.hr a span {
  margin: 0 2px 0 2px;
  font-size: 12px; }

.hr a:nth-child(1) > span:nth-child(2) {
  -webkit-transition: all 1s ease-in-out; }

.hr a:nth-child(1) #hr1 {
  width: 100px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 35px;
  border: 1px solid #ccc;
  height: 40px;
  background: #fff;
  display: none; }
  .hr a:nth-child(1) #hr1 span {
    display: block;
    line-height: 20px;
    color: #000;
    font-size: 12px; }

.hr a:nth-child(1):hover #hr1 {
  display: block; }
.hr a:nth-child(1):hover > span:nth-child(2) {
  transform-origin: center center;
  -webkit-transform: rotate(180deg); }

.hr a:nth-child(2) {
  color: red; }

.hr a:nth-child(3) {
  color: red; }

.hr a:nth-child(5) span:nth-child(1) {
  color: red; }

.hr a:nth-child(7) span:nth-child(1) {
  color: red; }

.hbox #menu-1 {
  width: 180px;
  height: 220px;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  position: absolute;
  display: none;
  left: 0;
  line-height: 28px;
  top: 36px;
  z-index: 1000; }
  .hbox #menu-1 p {
    border-bottom: 1px solid #ccc; }
  .hbox #menu-1 a {
    display: block;
    font-size: 12px;
    color: #000; }
  .hbox #menu-1 a:hover {
    color: red;
    text-decoration: underline; }

.hbox #menu-4 {
  display: none;
  position: absolute;
  top: 36px;
  width: 80px;
  height: 40px;
  border: 1px solid #ccc; }
  .hbox #menu-4 a {
    color: #000000;
    font-size: 12px;
    display: block;
    line-height: 20px;
    padding: 0 10px; }
  .hbox #menu-4 a:hover {
    color: #F44444;
    text-decoration: underline; }

.hbox #menu-5 {
  width: 110px;
  height: 110px;
  background: #fff;
  display: none;
  left: 0;
  position: absolute;
  top: 36px;
  border: 1px solid #ccc;
  z-index: 1000; }

.hbox #menu-6 {
  width: 124px;
  position: absolute;
  left: 0;
  border: 1px solid #ccc;
  top: 36px;
  display: none;
  background: #fff;
  overflow: hidden;
  z-index: 1000; }
  .hbox #menu-6 ul {
    margin-top: -5px;
    overflow: hidden;
    width: 124px; }
    .hbox #menu-6 ul li {
      float: left;
      width: 124px;
      padding: 5px 0;
      height: auto;
      display: block;
      position: relative;
      line-height: 1.4;
      border-bottom: 1px dotted #827777; }
      .hbox #menu-6 ul li h3 {
        color: #666;
        font-weight: 700;
        font-size: 1em; }
      .hbox #menu-6 ul li a {
        display: inline-block;
        float: left;
        width: 48px;
        font-size: 12px;
        margin-right: 10px;
        line-height: 22px;
        color: #666; }

.hbox #menu-8 {
  border: 1px solid #ccc;
  display: none;
  background: #fff;
  z-index: 1000;
  width: 1210px;
  height: 100px;
  padding: 25px 0;
  border-width: 0 1px 1px;
  position: absolute;
  right: 0;
  top: 36px; }
  .hbox #menu-8 .site-hot {
    width: 410px;
    padding-left: 30px;
    overflow: hidden;
    float: left; }
    .hbox #menu-8 .site-hot .site-list li {
      width: 80px;
      float: left; }
  .hbox #menu-8 .site-market {
    width: 375px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    float: left; }
    .hbox #menu-8 .site-market .site-list li {
      width: 80px;
      float: left; }
  .hbox #menu-8 .site-cont {
    padding-left: 30px;
    overflow: hidden; }
  .hbox #menu-8 .site-brand {
    width: 310px;
    float: left; }
    .hbox #menu-8 .site-brand .site-list li {
      width: 80px;
      float: left; }

.hr a:nth-child(4) {
  padding-right: 10px;
  border-right: 1px solid #ccc; }

#a2 {
  width: 30px;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 10000;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  #a2 > div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #a2 > div > a {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 12px;
      padding: 3px 3px;
      font-size: 12px;
      display: block;
      color: #fff; }
  #a2 > div:nth-child(1) {
    font-size: 30px;
    margin-top: 100px;
    position: relative;
    display: block; }
    #a2 > div:nth-child(1) > div {
      padding: 20px;
      width: 200px;
      height: 150px;
      left: -252px;
      display: none;
      top: 0;
      position: absolute;
      text-align: center;
      border: 1px solid #3C3C3C;
      background: #fff; }
      #a2 > div:nth-child(1) > div div:nth-child(1) {
        width: 200px;
        height: 90px; }
        #a2 > div:nth-child(1) > div div:nth-child(1) p {
          display: flex;
          width: 200px;
          height: 35px;
          justify-content: space-between;
          align-items: center;
          color: red;
          font-size: 12px; }
        #a2 > div:nth-child(1) > div div:nth-child(1) p:nth-child(4) span {
          color: #000; }
        #a2 > div:nth-child(1) > div div:nth-child(1) p:nth-child(4) span:nth-child(2) {
          display: block;
          width: 100px;
          color: #333333;
          margin-left: -50px; }
      #a2 > div:nth-child(1) > div div:nth-child(2) {
        width: 0px;
        height: 0px;
        position: absolute;
        left: 241px;
        top: 15px;
        border-left: 10px solid #ccc;
        border-bottom: 10px solid #fff;
        border-top: 10px solid #fff; }
      #a2 > div:nth-child(1) > div h3 {
        width: 200px;
        height: 20px;
        display: flex;
        color: #000;
        font-size: 12px;
        justify-content: space-between; }
        #a2 > div:nth-child(1) > div h3 span {
          display: block;
          line-height: 20px; }
        #a2 > div:nth-child(1) > div h3 span:nth-child(2) {
          margin-left: 20px; }
        #a2 > div:nth-child(1) > div h3 span:nth-child(3) {
          background: red;
          color: #fff; }
        #a2 > div:nth-child(1) > div h3 .span {
          color: red;
          border-bottom: 2px solid red; }
  #a2 > div:nth-child(1):hover > div {
    display: block; }
  #a2 > div:nth-child(2) {
    position: relative; }
    #a2 > div:nth-child(2) > div {
      width: 120px;
      height: 90px;
      position: absolute;
      left: -120px;
      top: 0;
      display: none; }
      #a2 > div:nth-child(2) > div div:nth-child(1) {
        width: 90px;
        padding: 0 10px;
        height: 90px;
        line-height: 30px;
        border: 1px solid #ccc;
        background: #fff;
        color: #000; }
        #a2 > div:nth-child(2) > div div:nth-child(1) p {
          width: 90px;
          height: 30px; }
        #a2 > div:nth-child(2) > div div:nth-child(1) p:hover {
          color: red; }
      #a2 > div:nth-child(2) > div div:nth-child(2) {
        width: 0px;
        height: 0px;
        position: absolute;
        left: 110px;
        top: 15px;
        border-left: 10px solid #ccc;
        border-bottom: 10px solid #fff;
        border-top: 10px solid #fff; }
  #a2 > div:nth-child(2):hover > div {
    display: block; }
  #a2 > div:nth-child(4) {
    font-size: 14px;
    line-height: 14px;
    height: 72px; }
  #a2 #xs {
    background: red; }
  #a2 #gwc:hover {
    background: red; }
  #a2 #top:hover {
    background: red; }
  #a2 #ewm:hover {
    background: red; }
  #a2 > #tc {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative; }
    #a2 > #tc a {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 12px;
      padding: 3px 3px;
      font-size: 12px;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      color: #fff; }
    #a2 > #tc div {
      position: absolute;
      left: 0;
      top: 30px;
      width: 30px;
      height: 30px;
      font-size: 12px;
      background: red;
      color: #fff;
      text-align: center; }
  #a2 #gz {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative; }
    #a2 #gz a {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 12px;
      padding: 3px 3px;
      font-size: 12px;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      color: #fff; }
    #a2 #gz > div {
      position: absolute;
      left: 0;
      top: 30px;
      width: 30px;
      height: 30px;
      font-size: 12px;
      background: red;
      color: #fff;
      text-align: center; }
  #a2 #sc {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative; }
    #a2 #sc a {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 12px;
      padding: 3px 3px;
      font-size: 12px;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      color: #fff; }
    #a2 #sc > div {
      position: absolute;
      left: 0;
      top: 30px;
      width: 30px;
      height: 30px;
      font-size: 12px;
      background: red;
      color: #fff;
      text-align: center; }
  #a2 > a:nth-child(8) {
    margin-top: 50px; }
  #a2 > a:hover {
    background: red; }

#contentbox {
  width: 100%;
  height: auto; }
  #contentbox #content {
    width: 1210px;
    height: auto;
    margin: 0 auto; }
    #contentbox #content #contenttop {
      width: 1210px;
      height: 100px; }
      #contentbox #content #contenttop #topleft {
        width: 295px;
        height: 100px;
        float: left; }
      #contentbox #content #contenttop #topright {
        float: left;
        width: 910px;
        height: 100px;
        display: flex;
        align-items: center; }
        #contentbox #content #contenttop #topright ul {
          padding-left: 150px;
          width: 700px;
          height: 60px; }
          #contentbox #content #contenttop #topright ul li {
            float: left;
            width: 140px;
            height: 60px; }
            #contentbox #content #contenttop #topright ul li > div:nth-child(1) {
              text-align: center;
              line-height: 23px;
              font-size: 14px;
              width: 140px;
              height: 23px; }
            #contentbox #content #contenttop #topright ul li > div:nth-child(2) {
              width: 140px;
              height: 34px;
              text-align: center;
              line-height: 34px;
              color: #fff;
              font-size: 20px;
              background: url(../img/gouwuche_files/T1Usl8FnRfXXcVlxZa-734-340.png) no-repeat scroll 50% -102px rgba(0, 0, 0, 0); }
          #contentbox #content #contenttop #topright ul li:nth-child(1) > div:nth-child(2) {
            width: 140px;
            height: 34px;
            background: url(../img/gouwuche_files/T1Usl8FnRfXXcVlxZa-734-340.png) no-repeat scroll 50% -102px rgba(0, 0, 0, 0);
            background-position: 50% -204px; }
          #contentbox #content #contenttop #topright ul li:nth-child(2) > div:nth-child(2) {
            width: 140px;
            height: 34px;
            background: url(../img/gouwuche_files/T1Usl8FnRfXXcVlxZa-734-340.png) no-repeat scroll 50% -102px rgba(0, 0, 0, 0);
            background-position: 50% -170px; }
          #contentbox #content #contenttop #topright ul li:nth-child(5) > div:nth-child(2) {
            width: 140px;
            height: 34px;
            background: url(../img/gouwuche_files/T1Usl8FnRfXXcVlxZa-734-340.png) no-repeat scroll 50% -102px rgba(0, 0, 0, 0);
            background-position: 50% -136px; }

#formbox {
  width: 100%;
  height: 1800px;
  background: #F1F1F1; }
  #formbox #form {
    width: 1210px;
    height: 1800px;
    margin: auto;
    background: #fff; }
    #formbox #form .checkBox_jm {
      width: 950px;
      border-top: 1px solid #ccc;
      background: #fff;
      height: 395px;
      padding: 15px 20px 20px 20px;
      margin: 0 auto; }
      #formbox #form .checkBox_jm .title {
        font-size: 19px;
        font-weight: bold;
        color: #666666;
        width: 950px;
        height: 17px; }
        #formbox #form .checkBox_jm .title .songhuo {
          padding-left: 20px;
          color: #a1a1a1;
          font-size: 14px;
          font-family: 瀹嬩綋;
          font-weight: normal; }
      #formbox #form .checkBox_jm .address_jm {
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        width: 950px;
        height: 357px; }
        #formbox #form .checkBox_jm .address_jm .blank10 {
          height: 18px;
          line-height: 18px;
          clear: both;
          width: 950px;
          visibility: hidden;
          background: #fff; }
        #formbox #form .checkBox_jm .address_jm table {
          display: table;
          border-collapse: separate;
          border-color: grey;
          border-spacing: 2px;
          width: 949px;
          height: 321px; }
          #formbox #form .checkBox_jm .address_jm table tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            color: #666666;
            width: 949px;
            height: 321px; }
            #formbox #form .checkBox_jm .address_jm table tbody tr {
              display: block;
              vertical-align: inherit;
              border-color: inherit;
              color: #666666;
              width: 949px;
              height: 35px; }
              #formbox #form .checkBox_jm .address_jm table tbody tr > td:nth-child(1) {
                text-align: right;
                display: block;
                vertical-align: inherit;
                padding: 4px;
                width: 84px;
                height: 27px;
                float: left;
                line-height: 27px; }
              #formbox #form .checkBox_jm .address_jm table tbody tr > td:nth-child(2) {
                float: left;
                text-align: left;
                display: block;
                vertical-align: inherit;
                padding: 4px;
                width: 844px;
                height: 27px; }
                #formbox #form .checkBox_jm .address_jm table tbody tr > td:nth-child(2) input {
                  text-rendering: auto;
                  color: initial;
                  letter-spacing: normal;
                  word-spacing: normal;
                  text-transform: none;
                  text-indent: 0px;
                  text-shadow: none;
                  display: inline-block;
                  text-align: start;
                  width: 200px;
                  height: 25px;
                  line-height: 25px;
                  padding: 0px 5px;
                  border: 1px #ddd solid;
                  font-size: 100%;
                  font: 12px/1.5em arial;
                  background: white;
                  -webkit-appearance: textfield;
                  -webkit-rtl-ordering: logical;
                  -webkit-user-select: text;
                  cursor: auto; }
              #formbox #form .checkBox_jm .address_jm table tbody tr th {
                display: table-cell;
                vertical-align: inherit;
                padding: 4px;
                width: 84px;
                height: 27px; }
            #formbox #form .checkBox_jm .address_jm table tbody > tr:nth-child(3) td .input_addr1 {
              width: 477px;
              height: 30px;
              line-height: 30px;
              padding: 0px 5px;
              border: 1px #ddd solid; }
            #formbox #form .checkBox_jm .address_jm table tbody > tr:nth-child(4) td .input_addr1 {
              width: 477px;
              height: 30px;
              line-height: 30px;
              padding: 0px 5px;
              border: 1px #ddd solid; }
            #formbox #form .checkBox_jm .address_jm table tbody > tr:nth-child(6) td .input_addr2 {
              width: 200px;
              height: 25px;
              line-height: 25px;
              padding: 0px 5px;
              border: 1px #ddd solid; }
            #formbox #form .checkBox_jm .address_jm table tbody > tr:nth-child(6) td .input_addr4 {
              width: 50px;
              height: 25px;
              padding: 0px 5px;
              border: 1px #ddd solid; }
            #formbox #form .checkBox_jm .address_jm table tbody > tr:nth-child(6) td .input_addr3 {
              width: 100px;
              height: 25px;
              padding: 0px 5px;
              border: 1px #ddd solid; }
            #formbox #form .checkBox_jm .address_jm table tbody > tr:nth-child(6) td .input_addr4 {
              width: 50px;
              height: 25px;
              padding: 0px 5px;
              border: 1px #ddd solid; }
            #formbox #form .checkBox_jm .address_jm table tbody > tr:nth-child(8) td .BonusButton {
              background: #e31939;
              color: #fff;
              height: 28px;
              width: 70px;
              border: none;
              text-align: center;
              cursor: pointer;
              vertical-align: middle; }
      #formbox #form .checkBox_jm .mydiv {
        background: #fff;
        border: 1px solid #ddd;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        font-weight: bold;
        z-index: 99999;
        width: 650px;
        height: 400px;
        left: 50%;
        top: 50%;
        margin-left: -325px !important;
        margin-top: -200px !important;
        margin-top: 0px;
        -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
        position: fixed !important;
        position: relative; }
        #formbox #form .checkBox_jm .mydiv .mydiv-l {
          float: left;
          width: 100%;
          border-bottom: 1px solid #eee;
          background: #faf7f8;
          text-indent: 20px;
          font-size: 16px;
          font-weight: normal;
          height: 60px;
          line-height: 70px;
          text-align: left;
          color: #ff3300; }
        #formbox #form .checkBox_jm .mydiv .mydiv-r {
          position: absolute;
          width: 40px;
          background: url(../images/jmpic/cart_pop_close.png) no-repeat 0 0;
          top: -10px;
          right: -30px;
          height: 50px;
          line-height: 50px;
          cursor: pointer; }
    #formbox #form .time {
      width: 950px;
      height: 80px; }
      #formbox #form .time ul {
        width: 600px;
        height: 50px;
        margin-top: 20px;
        line-height: 50px;
        margin-bottom: 15px; }
        #formbox #form .time ul li {
          text-align: center;
          padding: 1px 0px 1px 15px;
          margin-right: 20px;
          height: 34px;
          display: block;
          line-height: 34px;
          float: left;
          border: 1px solid #ddd; }
          #formbox #form .time ul li label {
            padding: 10px 15px 10px 0px; }
        #formbox #form .time ul .curr2t {
          border: 2px solid #6eaf4f;
          box-sizing: border-box;
          background: #e6f6de; }
    #formbox #form .sp {
      height: 585px; }
      #formbox #form .sp .qd {
        width: 948px;
        border: 1px solid #ddd;
        height: 585px;
        margin-bottom: 15px;
        margin-top: 15px; }
        #formbox #form .sp .qd > div:nth-child(1) {
          width: 948px;
          height: 33px;
          line-height: 33px;
          background: #f0f0f0; }
          #formbox #form .sp .qd > div:nth-child(1) ul {
            width: 948px;
            height: 33px;
            display: flex; }
            #formbox #form .sp .qd > div:nth-child(1) ul li {
              text-align: center;
              color: #666666; }
            #formbox #form .sp .qd > div:nth-child(1) ul > li:nth-child(1) {
              text-align: left;
              margin-left: 40px; }
          #formbox #form .sp .qd > div:nth-child(1) > div {
            width: 948px;
            height: 268px;
            border-top: 2px solid #ccc; }
            #formbox #form .sp .qd > div:nth-child(1) > div > p {
              width: 100%;
              height: 29px;
              background: #FAFAFA;
              text-align: left;
              text-indent: 10px; }
            #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(2) {
              width: 928px;
              height: 87px;
              padding: 15px 10px;
              border-bottom: 1px dashed #ddd; }
              #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) {
                height: 87px;
                display: flex;
                align-items: center; }
                #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) > a:nth-child(1) {
                  width: 80px;
                  height: 62px;
                  display: block; }
                  #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) > a:nth-child(1) img {
                    width: 100%;
                    height: 100%; }
                #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) > a:nth-child(2) {
                  width: 245px;
                  text-align: left;
                  font-size: 12px;
                  line-height: 14px;
                  margin-left: 10px;
                  height: 36px;
                  color: #666666;
                  margin-top: 10px;
                  text-decoration: none; }
                #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) > a:nth-child(2):hover {
                  color: red;
                  text-decoration: underline; }
              #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(2) > div {
                height: 87px;
                float: left;
                font-size: 16px;
                color: red;
                text-align: center;
                line-height: 87px; }
              #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) {
                font-size: 12px;
                color: #666666;
                text-align: center;
                line-height: 87px; }
            #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(3) {
              width: 918px;
              height: 55px;
              padding: 12px 0 12px 30px;
              border-bottom: 1px dashed #ddd; }
            #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(4) {
              width: 918px;
              height: 17px;
              padding: 12px 0 12px 30px;
              border-bottom: 1px dashed #ddd; }
              #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(4) > a:nth-child(1) {
                display: block;
                height: 100%;
                width: 17px;
                background: red;
                text-align: center;
                line-height: 17px;
                float: left;
                color: #fff; }
              #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(4) > a:nth-child(2) {
                display: block;
                float: left;
                height: 100%;
                width: 100px;
                line-height: 17px;
                margin-left: 10px;
                font-size: 12px;
                color: #666666; }
              #formbox #form .sp .qd > div:nth-child(1) > div > div:nth-child(4) > a:nth-child(2):hover {
                color: red;
                text-decoration: underline; }
    #formbox #form .cl {
      width: 948px;
      height: 198px;
      margin: 40px auto;
      border: 1px solid #ddd; }
      #formbox #form .cl > div {
        width: 888px;
        height: 16px;
        padding: 15px 30px;
        border-top: 1px solid #ddd;
        background: #fafafa; }
        #formbox #form .cl > div > input {
          display: block;
          border: none;
          border: 1px solid #ddd;
          float: left;
          margin-top: 2px; }
        #formbox #form .cl > div > a:nth-child(1) {
          display: block;
          height: 100%;
          width: 16px;
          background: red;
          text-align: center;
          line-height: 16px;
          float: left;
          color: #fff; }
        #formbox #form .cl > div > a:nth-child(2) {
          display: block;
          float: left;
          height: 100%;
          width: 100px;
          line-height: 16px;
          margin-left: 10px;
          font-size: 12px;
          color: #666666; }
        #formbox #form .cl > div > a:nth-child(2):hover {
          color: red;
          text-decoration: underline; }
    #formbox #form .zf {
      width: 948px;
      height: 198px;
      margin: 40px auto;
      border: 1px solid #ddd; }
      #formbox #form .zf > div:nth-child(2) {
        width: 946px;
        height: 176px;
        margin-top: 20px;
        border-top: 1px solid #ddd; }
        #formbox #form .zf > div:nth-child(2) > div {
          width: 918px;
          height: 16px;
          padding: 15px 15px 25px 15px;
          border-bottom: 1px solid #ddd; }
          #formbox #form .zf > div:nth-child(2) > div > input {
            display: block;
            border: none;
            border: 1px solid #ddd;
            float: left;
            margin-top: 2px; }
          #formbox #form .zf > div:nth-child(2) > div > a:nth-child(1) {
            display: block;
            height: 100%;
            width: 16px;
            background: red;
            text-align: center;
            line-height: 16px;
            float: left;
            color: #fff; }
          #formbox #form .zf > div:nth-child(2) > div > a:nth-child(2) {
            display: block;
            float: left;
            height: 100%;
            width: 300px;
            line-height: 16px;
            margin-left: 10px;
            font-size: 12px;
            color: #666666; }
          #formbox #form .zf > div:nth-child(2) > div > a:nth-child(2):hover {
            color: red;
            text-decoration: underline; }
    #formbox #form .ff {
      width: 990px;
      height: 42px;
      margin: 20px auto; }
      #formbox #form .ff > a:nth-child(1) {
        width: 142px;
        display: block;
        height: 42px;
        background: #fafafa;
        border: 1px solid #ddd;
        box-sizing: border-box;
        float: left;
        text-align: center;
        line-height: 42px;
        font-size: 16px;
        color: #ddd; }
      #formbox #form .ff > a:nth-child(2) {
        width: 152px;
        height: 42px;
        display: block;
        float: right; }
        #formbox #form .ff > a:nth-child(2) img {
          width: 100%;
          height: 100%; }
    #formbox #form .clearfix {
      zoom: 1; }

#contentbottom {
  width: 100%;
  height: 74px;
  padding-top: 26px;
  text-align: center; }
  #contentbottom p {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #666666; }
    #contentbottom p a {
      color: #666666; }
    #contentbottom p > a:hover {
      color: red; }

      .index_user{
        display: inline-block;
      }
/*# sourceMappingURL=dingdan.css.map */
